/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111; /* Darker background for the entire page */
  color: #ddd;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically and horizontally */
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222; /* Dark background for the container */
  padding: 2rem;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
  max-width: 400px; /* Limit the form width */
  width: 100%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #823636; /* White text for the header */
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  background-color: #333; /* Darker background for the form */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.sign-up-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}

.sign-up-form input {
  padding: 0.8rem;
  border: 1px solid #444; /* Border color */
  border-radius: 4px;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  background-color: #222; /* Dark background for inputs */
  color: #ddd; /* Light text color */
  transition: border-color 0.3s ease;
}

.sign-up-form input:focus {
  border-color: #4CAF50; /* Green border when focused */
  outline: none;
}

.sign-up-form button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Green background */
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.sign-up-form button:hover {
  background-color: #46a049; /* Darker green on hover */
}

.sign-up-form button:disabled {
  background-color: #888; /* Disabled button color */
  cursor: not-allowed;
}

.sign-up-form p {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
}

.sign-up-form a {
  color: #4CAF50; /* Blue link color */
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.sign-up-form a:hover {
  color: #46a049; /* Darker blue on hover */
}

.error-message {
  color: #ff4d4d; /* Red for error message */
  font-size: 0.9rem;
  text-align: center;
  margin-top: 1rem;
}
